body {
  text-align: center;
  font-family: -apple-system, sans-serif;
}
.container {
  width: 1060px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}
button {
  background: #00ad9f;
  border-radius: 4px;
  font-weight: 700;
  color: #fff;
  border: none;
  padding: 7px 15px;
  margin-left: 8px;
  cursor: pointer;
}
button:hover {
  background: #008378;
}
button:focus {
  outline: 0;
}
#cards {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: 190px;
  height: 150px;
  margin-bottom: 20px;
}
.card:not(:nth-child(4n)) {
  margin-right: 10px;
}

.c {
  position: absolute;
  max-width: 190px;
  max-height: 150px;
  width: 50ch;
  height: 50ch;
  cursor: pointer;
  will-change: transform, opacity;
}

.front,
.back {
  background-size: cover;
}

.back {
  background-image: url(https://cdn.pixabay.com/photo/2020/07/21/16/24/landscape-5426755__340.jpg);
}
